<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
      href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/ear-of-maize_1f33d.png"
    />
    <title>Node Farm</title>

    <style>
        *,*::before,
        *::after{
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }

        html{
            font-size: 62.5%;
            box-sizing: border-box;
        }

        body{
            padding: 5rem 5rem 10rem;
            line-height: 1.7;
            font-family:'' ;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>🌽 Node Farm 🥦</h1>
        <div class="cards-container">
            <figure class="card">
                <div class="card__emoji">🥑🥑</div>

                <div class="card__title-box">
                    <h2 class="card__title">Fresh Avocado</h2>
                </div>

                <div class="card__details">
                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--organic">Organic</h6>
                    </div>
                    <div class="card__detail-box">
                        <h6 class="card__detail">4 🥑 per 📦</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">6.50€</h6>
                    </div>
                </div>
                <a href="card__link" href="#">
                    <span>Detail <i class="emoji-right">👉</i></span>
                </a>
            </figure>
            
            <figure class="card">
                <div class="card__emoji">🧀🧀</div>
                <div class="card__title-box">
                    <h2 class="card__title">Goat and Sheep Cheese</h2>
                </div>
                <div class="card__details">
                    <div class="card__detail-box">
                        <h6 class="card__detail">250g per 📦</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">5.00€</h6>
                    </div>
                </div>

                <a href="card__link" href="#">
                    <span>Detail<i class="emoji-right">👉</i></span>
                </a>
            </figure>

            <figure class="card">
                <div class="card__emoji">🥦🥦</div>
                <div class="card__title-box">
                    <h2 class="card__title">Apollo Broccoli</h2>
                </div>

                <div class="card__details">
                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--organic">Organic!</h6>
                    </div>
                </div>

                <div class="card__detail-box">
                    <h6 class="card__detail">3 🥦 per 📦</h6>
                </div>

                <div class="card__detail-box">
                    <h6 class="card__detail card__detail--price" >5.50€</h6>
                </div>
                <a href="#" class="card__link">
                    <span>Detail <i class="emoji-right">👉</i></span>
                </a>
            </figure>
            <figure class="card">
                <div class="card__emoji">
                    🥕🥕
                </div>
                <div class="card__title-box">
                    <h2 class="card__title">Baby Carrots</h2>
                </div>

                <div class="card__details">
                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--organic">
                            Organic!
                        </h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail">20 🥕 per 📦</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">3.00€</h6>
                    </div>
                </div>
                <a href="#" class="card__link">
                    <span>Detail <i class="emoji-right">👉</i></span>
                </a>
            </figure>
            
            <figure class="card">
                <div class="card__emoji">🌽🌽</div>
                <div class="card__title-box">
                    <h2 class="card__title">Sweet Corncobs</h2>
                </div>

                <div class="card__details">
                    <div class="card__details-box">
                        <h6 class="card__detail">2 🌽 per 📦</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail--price">2.00€</h6>
                    </div>
                </div>
                <a href="#" class="card__linl">
                    <span>Detail <i class="emoji-right">👉</i></span>
                </a>
            </figure>
        </div>
    </div>
</body>
</html>