<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>🌽 Node Farm 🥦</h1>
        <div class="cards-container">
            <figure class="card">
                <div class="card__emoji">🥑🥑</div>

                <div class="card__title-box">
                    <h2 class="card__title">Fresh Avocado</h2>
                </div>

                <div class="card__details">
                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--organic">Organic</h6>
                    </div>
                    <div class="card__detail-box">
                        <h6 class="card__detail">4 🥑 per 📦</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">6.50€</h6>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</body>
</html>